<ul class="nav nav-tabs rmd-colorbotnav">
   
    <li class="nav-item">
      <a #aHome id="btnHome" class="nav-link" style=" color: currentColor !important" href="/home" >Inicio</a>
    </li>
    <li class="nav-item">
      <a id="btnPlanes"  class="nav-link"  style=" color: currentColor !important" href="/planes">Niveles</a>
    </li>
    <li class="nav-item">
      <a id="btnObjetivo" class="nav-link"   style=" color: currentColor !important" href="/plan-objetivo">Objetivo</a>
    </li>
  </ul>
  <p>
    <img src="https://images.squarespace-cdn.com/content/v1/54f9e84de4b0d13f30bba4cb/1563552056214-NACIMXAQ41V5B735AN88/Gym+Banner.jpg?format=2500w" width="100%" alt="...">
  </p>
