<div class="text-center">
    <h1>Rutina - PRINCIPIANTE</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      El gym puede ser un método perfecto para ponerte en forma, perder peso y liberar tensiones y, de hecho, es bastante probable que te hayas planteado muchísimas veces empezar a ir o a practicar más deporte.
      <br>
      <br>
      Ir al gimnasio es uno de los propósitos anuales con más adeptos, pero también, con más abandonos. Si quieres saber cómo empezar en el gimnasio presta atención a los tips para principiantes que te explicamos a continuación, pues en este artículo de unCOMO te descubrimos los mejores consejos prácticos para iniciarte en el gym y convertirlo en tu nueva rutina.
      <br><br>
      <div class="text-center">
      <br>
      <a type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Consejos</a>
      <br>
      <br>
      <br>

      </div>
    </div>
    <div class="col-sm">
      <img src="https://elbocon.pe/resizer/FxQf9fB6cnLKPP89Gmv6TCB4QWc=/580x330/smart/filters:format(jpeg):quality(75)/arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/DT4PMCC33FGLXHCOELESKAL6BA.jpg">
      <br>
      <br>

    </div>
  </div>
</div>
<br>
<br>
<br>

<div class="container">
  <div class="row">
      <br>
      <br>
      <br>
      <h3 class="text-left">Rutina</h3>
      <br>
      <br>

    <div class="accordion" id="accordionExample">
      <div class="accordion-item text-white-50 bg-dark">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button text-black bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Ejercicio #1
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Sentadillas -> </strong> (para los músculos de las piernas) Este ejercicio admite mayor peso que otros. El principiante irá probando para conocer sus posibilidades en cuanto al peso.
          </div>
        </div>
      </div>
      <div class="accordion-item text-white-50 bg-dark">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed text-black bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Ejercicio #2
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Press banca -> </strong> (para los músculos pectorales) Se debe agarrar la barra con una separación de las manos algo mayor que la anchura de los hombros.
          </div>
        </div>
      </div>
      <div class="accordion-item text-white-50 bg-dark">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed text-black bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Ejercicio #3
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Press tras nuca -> </strong>sentado (para los músculos de los hombros) El movimiento descendente de la barra por detrás de la cabeza debe llegar hasta la altura de las orejas.
          </div>
        </div>
      </div>
      <div class="accordion-item text-white-50 bg-dark">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed text-black bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Ejercicio #4
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Extensión de triceps -> </strong>sentado (para los triceps) Puede usarse una barra pequeña recta o de tipo Z.
          </div>
        </div>
      </div>
      <div class="accordion-item text-white-50 bg-dark">
        <h2 class="accordion-header" id="headingFive">
          <button class="accordion-button collapsed text-black bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Ejercicio #5
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Dominadas -> </strong>(para los músculos dorsales de la espalda) La eficacia de este ejercicio y la cantidad de repeticiones, dependerán de la fuerza que posea el principiante respecto al peso de su propio cuerpo colgado. En caso de dominarlo fácilmente, cosa difícil al principio, puede adicionar peso, sosteniéndolo con las piernas.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog ">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title text-black" >Consejos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-left text-black">
       <p>Para lograr un objetivo tiene que tener en cuenta lo siguientes consejos:</p>
       
        <img src="https://www.alimmenta.com/wp-content/uploads/2018/01/10-consejos-para-adelgazar.jpg">
      </div>
    </div>
  </div>
</div>
