<div class="container">
  <div class="row text-left">
    <div class="col-sm">
      <h4>Definición</h4><br>
      <img class="text-center" src="https://th.bing.com/th/id/R.f7c875070b4d068da43062bdcce622ff?rik=B6aLveuWw3Fcxg&pid=ImgRaw&r=0"><br><br>
      <p>Significa garantizar que estás comiendo tantas calorías cómo sea posible y que haces la menor cantidad de cardio posible, manteniendo el peso incluso antes de comenzar una dieta.</p>
      <br><h4>Concideraciones:</h4><br>
      <ol class="list-group list-group-flush text-white-50 bg-dark">
       <li class="list-group-item text-white-50 bg-dark">Para perder peso es necesario comer menos calorías de las que se gastan en el día, es decir, lograr un déficit calórico.</li>
       <li class="list-group-item text-white-50 bg-dark">Para aumentar de peso debes ingerir más calorías de las que quemas cada día.</li>
       <li class="list-group-item text-white-50 bg-dark">Para mantener tu peso, debes consumir tantas calorías como quemas. A esto se le llama balance energético.</li>
      </ol>
    </div>
    <div class="col-sm ">
      <h4>Volumen</h4><br>
      <img src="https://th.bing.com/th/id/OIP.TYG8DWVUKarwwOAwGiicaQHaHT?pid=ImgDet&rs=1"><br><br>
      <p class="">Un término que va más allá de determinar la cantidad de ejercicio físico y que también se utiliza para hacer mención a un periodo de ganancia muscular. </p>
      <br><br><h4>Concideraciones:</h4><br>
      <ol class="list-group list-group-flush text-white-50 bg-dark">
       <li class="list-group-item text-white-50 bg-dark">Hacer cada ejercicio lentamente</li>
       <li class="list-group-item text-white-50 bg-dark">No parar el ejercicio cuando se sienta dolor</li>
       <li class="list-group-item text-white-50 bg-dark">Entrenar 3 a 5 veces por semana</li>
       <li class="list-group-item text-white-50 bg-dark">Comenzar el entrenamiento con ejercicios de musculatura</li>
      </ol>
    </div>
  </div>
</div>