<br><h1 class="text-center text-white">¿Por qué empezar a entrenar?</h1><br>
<hr>

<div>
    <div class="text-left">
      <div class="container-fluid">
        <div class="row text-white">
          <br><div class="col-sm text-left">
              <p>Mundo Entrenamiento es la revista online te desvela todos los secretos sobre el mundo del entrenamiento físico siguiendo los últimos estudios científicos.<br><br>
              La razón principal es que comienzan con mucho muy rápido. Lograrás mucho más que unas pocas semanas de ejercicio.
              No te prometemos resultados rápidos. El objetivo principal de nuestro programa es mejorar tu estilo de vida.
              </p>
          </div><br><br>
          <div class="col-sm text-center">
              <iframe width="auto" height="200" src="https://www.youtube.com/embed/t88Skc721zs?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
      </div>
      </div>
        
      <br><h3 class="text-left text-white">¿Por qué empezar a entrenar?</h3><br>
        <ol class="list-group list-group-numbered col-12" >
            <li class="list-group-item d-flex justify-content-between align-items-start bg-dark bg-light text-white rmd-border">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Es un objetivo que mantendrá nuestra motivación alta</div>
                Nada como tener objetivos para hacer que tengamos más motivos para salir a correr. Un plan de entrenamiento que nos marque qué tipo de entrenamientos tenemos que hacer cada día nos ayudará a manejar nuestro tiempo de otra manera, generando una razón para no quedarnos en casa cada día.
              </div>
              <img class="rmd-imagen" src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/000000/external-check-basic-ui-elements-flatart-icons-outline-flatarticons.png"/>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start bg-dark bg-light text-white rmd-border">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Hará nuestro entrenamiento más variado</div>
                No hace falta que nos pongamos a entrenar como profesionales. El simple hecho de alternar tiradas a ritmo constante con series, cuestas o fartlek es suficiente para quitar la monotonía de nuestra rutina. Un entrenamiento variado contribuye, no solo a hacer de nosotros corredores más completos, sino que también nos da motivación para seguir corriendo.
              </div>
              <img class="rmd-imagen" src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/000000/external-check-basic-ui-elements-flatart-icons-outline-flatarticons.png"/>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start bg-dark bg-light text-white rmd-border">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Menos lesiones</div>
                El entrenamiento a ritmos más altos de los habituales hace que nuestros músculos y tendones estén más fuertes. Esto hace que soporten mejor el esfuerzo y nos ayudará a que seamos más resistentes a lesiones. Una musculatura fuerte significa mejor sujeción de las articulaciones y nos puede proteger, por ejemplo, de que nuestras rodillas soporten demasiada presión en la carrera.
              </div>
              <img class="rmd-imagen" src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/000000/external-check-basic-ui-elements-flatart-icons-outline-flatarticons.png"/>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start bg-dark bg-light text-white rmd-border">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Conocerás mejor tu cuerpo</div>
                  Prestarás más atención a aspectos como técnica de carrera. Para volvernos más rápidos necesitamos aumentar la amplitud de zancada mediante una mejor técnica de carrera. O aumentar la frecuencia de carrera, lo cual también nos hará recorrer más distancia en menos tiempo. O, lo más habitual, las dos cosas al mismo tiempo. En cualquier caso, es interesante, a medida que corremos más rápido, que tomemos conciencia de la importancia de la ejecución de la carrera en nuestro rendimiento
                </div>
                <img class="rmd-imagen" src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/000000/external-check-basic-ui-elements-flatart-icons-outline-flatarticons.png"/>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start bg-dark bg-light text-white rmd-border">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Podrás medir tus progresos</div>
                  La mejor forma de saber si estás mejorando cada día es comparándote con tus propias marcas. Si este año eres capaz de correr en menos tiempo una misma carrera, quiere decir que has hecho mejor las cosas o que, al menos, estás progresando. Hay más cosas a tener en cuenta, pero una mejora en los tiempos seguro que va asociada a una mejora como runner.
                </div>
                <img class="rmd-imagen" src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/000000/external-check-basic-ui-elements-flatart-icons-outline-flatarticons.png"/>
              </li>
        </ol>
    </div>
</div>
